/* LAYOUT CSS */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

/* HEADER */
header {
    background: #bbbbbb;
    padding:  20px 0;
}


.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto 0 auto;
}

h1 {
    width: auto;
}

.nav-list {
    position: absolute;
    top: 110px;
    right: 0;
}

.nav-item {
    display: inline;
    margin: 0 0 0 15px;
    
}

.nav-item a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav-item a:hover {
    color:#c78c19;
    text-decoration: underline;
}


/* HEADER */

footer {
    text-align: center;
    background: url(/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
}

/* MEDIAS QUERIES */

@media screen and (max-width: 480px){

    .caixa {
        width: auto;
        position: relative;
    }

    h1 {
        text-align: center;
    }
    
    .nav-list {
        position: static;
    }

}
